@font-face {
  font-family: lemon-titulo;
  src: url(../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
  font-family: lemon-login;
  src: url(../fonts/LEMONMILK-LightItalic.otf);
}
body {
  background-color: rgb(247, 242, 242);
  margin: 0;
  padding: 0;
  box-sizing: 0;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 0.7fr 3fr 3fr 0.5fr;
  grid-template-areas: "header header" "nav nav" "main main" "main main" "footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@font-face {
  font-family: lemon-titulo;
  src: url(../../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
  font-family: lemon-login;
  src: url(../../fonts/LEMONMILK-LightItalic.otf);
}
header {
  background-image: linear-gradient(to top, #687c91 0%, rgb(80, 71, 71) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #logoRedes img {
  width: 5vh;
}
header #logoRedes img:hover {
  width: 6vh;
}
header h1 {
  font-family: lemon-titulo;
  color: rgb(0, 0, 0);
}
header #logIn img {
  width: 25px;
  margin-left: 4vh;
}
header #logIn a {
  color: black;
  font-family: lemon-login;
  text-decoration: none;
}
header #logIn a:hover {
  color: #ffffff;
}

@media (max-width: 490px) {
  header {
    background-image: linear-gradient(to top, #687c91 0%, rgb(80, 71, 71) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header #logoRedes img {
    width: 3vh;
  }
  header #logoRedes img:hover {
    width: 6vh;
  }
  header h1 {
    font-size: 1.5rem !important;
    font-family: lemon-titulo;
    color: rgb(0, 0, 0);
  }
  header #logIn img {
    width: 25px;
    margin-left: 4vh;
  }
  header #logIn a {
    color: black;
    font-family: lemon-login;
    font-size: 0.5rem !important;
    text-decoration: none;
  }
}
@font-face {
  font-family: lemon-titulo;
  src: url(../../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
  font-family: lemon-login;
  src: url(../../fonts/LEMONMILK-LightItalic.otf);
}
nav {
  background-color: #687c91;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav #navBar {
  margin-bottom: 2vh;
}
nav #navBar input {
  width: 90vh;
  height: 3vh;
  border: none;
  border-radius: 2px;
}
nav #navBtn {
  font-size: 1.5rem;
}
nav #navBtn a {
  text-decoration: none;
  color: black;
  margin-left: 2vh;
  margin-right: 2vh;
}
nav #navBtn a:hover {
  color: #ffffff;
}

@media (max-width: 992px) {
  #navBar {
    margin-bottom: 2vh;
  }
  #navBar input {
    width: 60vh !important;
    height: 3vh;
    border: none;
    border-radius: 2px;
  }
}
@media (max-width: 576px) {
  #navBar {
    margin-bottom: 2vh;
  }
  #navBar input {
    width: 40vh !important;
    height: 3vh;
    border: none;
    border-radius: 2px;
  }
}
@font-face {
  font-family: lemon-titulo;
  src: url(../../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
  font-family: lemon-login;
  src: url(../../fonts/LEMONMILK-LightItalic.otf);
}
main {
  margin-top: 4vh;
}
main #tituloPcPromo {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #tituloPcPromo #logoFuego {
  width: 3vh;
}
main #tituloPcPromo h2 {
  text-align: center;
  font-family: lemon-login;
  margin: 0vh 1vh 0vh 1vh;
}
main #promocionesPcArmada {
  margin-top: 3vh;
  display: flex;
  justify-content: space-evenly;
}
main #promocionesPcArmada a img {
  width: 20vh;
}
main #promocionesPcArmada a img:hover {
  width: 21vh;
}
main #promocionesPcArmada p {
  font-weight: 750;
  background-color: #687c91;
  text-align: center;
  border-radius: 3px;
  color: white;
  padding: 1vh;
}
main #bannerPublicidadAsus {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
main #bannerPublicidadAsus img {
  height: 35vh;
}
main #productosDestacados {
  margin: 3vh 0vh 3vh 0vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #687c91 30%, rgb(80, 71, 71) 100%);
}
main #productosDestacados #secTituloProdDestacados {
  display: flex;
  justify-content: center;
}
main #productosDestacados #secTituloProdDestacados #tituloProdDestacados {
  font-family: lemon-login;
  color: white;
}
main #productosDestacados #secTituloProdDestacados img {
  width: 4vh;
}
main #productosDestacados .slider-frame {
  width: 20vh;
  height: auto;
  margin: 0px auto 0;
  overflow: hidden;
}
main #productosDestacados .slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}
main #productosDestacados .slider-frame li {
  width: 100%;
  list-style: none;
  text-align: center;
}
main #productosDestacados .slider-frame img {
  width: 100%;
}
main #productosDestacados .slider-frame p {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 4px;
  color: white;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
main #infoContacto {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
main #infoContacto img {
  width: 4vh;
}

@media (max-width: 1200px) {
  #bannerPublicidadAsus {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  #bannerPublicidadAsus img {
    height: 20vh !important;
    width: 80vh;
  }
}
@media (max-width: 992px) {
  #bannerPublicidadAsus {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  #bannerPublicidadAsus img {
    height: 15vh !important;
    width: 60vh;
  }
}
@media (max-width: 576px) {
  #promocionesPcArmada {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
  }
  #promocionesPcArmada a img {
    width: 15vh !important;
  }
  #promocionesPcArmada a img:hover {
    width: 21vh;
  }
  #promocionesPcArmada p {
    font-weight: 750;
    background-color: #687c91;
    text-align: center;
    border-radius: 3px;
    color: white;
    padding: 1vh;
  }
  #infoContacto {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  #infoContacto h3 {
    font-size: 1rem;
  }
  #infoContacto img {
    width: 4vh;
  }
}
@media (max-width: 490px) {
  #infoContacto {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  #infoContacto h3 {
    font-size: 1rem;
  }
  #infoContacto p {
    font-size: 0.7rem;
  }
  #infoContacto img {
    width: 4vh;
  }
}
@font-face {
  font-family: lemon-titulo;
  src: url(../../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
  font-family: lemon-login;
  src: url(../../fonts/LEMONMILK-LightItalic.otf);
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #687c91 30%, rgb(80, 71, 71) 100%);
  color: black;
}
footer section {
  display: flex;
}
footer section img {
  width: 3vh;
  margin-right: 1vh;
}
footer section p {
  color: grey;
}

@font-face {
  font-family: lemon-titulo;
  src: url(../../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
  font-family: lemon-login;
  src: url(../../fonts/LEMONMILK-LightItalic.otf);
}
#mainPageProducto {
  display: flex;
}
#mainPageProducto aside {
  margin-left: 20vh;
}
#mainPageProducto aside h2 {
  font-family: lemon-login;
}
#mainPageProducto aside #boton {
  display: flex;
}
#mainPageProducto aside #boton .boton {
  margin: 1vh 2vh 0vh 2vh;
}
#mainPageProducto aside #boton .lbl-switch {
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: grey;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
#mainPageProducto aside #boton #btn-switch:checked ~ .lbl-switch {
  background-color: #7cc5e7;
}
#mainPageProducto aside #boton .lbl-switch:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  transition: 0.3s;
}
#mainPageProducto aside #boton #btn-switch:checked ~ .lbl-switch:after {
  left: 28px;
}
#mainPageProducto aside #boton #btn-switch {
  display: none;
}
#mainPageProducto aside #categorias h3 {
  font-family: lemon-titulo;
}
#mainPageProducto aside #categorias ul {
  list-style-type: none;
}
#mainPageProducto aside #categorias ul li a {
  text-decoration: none;
  color: grey;
}
#mainPageProducto #listadoProductos ul {
  list-style-type: none;
}
#mainPageProducto #listadoProductos ul li {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-left: 10vh;
  border-bottom: 1px solid black;
}
#mainPageProducto #listadoProductos ul li a img {
  width: 25vh;
}
#mainPageProducto #listadoProductos ul li #informacionProd a {
  text-decoration: none;
  color: black;
}
#mainPageProducto #listadoProductos ul li #informacionProd a h2 {
  font-family: lemon-login;
}
#mainPageProducto #listadoProductos ul li #informacionProd h4 {
  font-family: lemon-login;
}
#mainPageProducto #listadoProductos ul li #informacionProd p {
  font-style: italic;
}

@media (max-width: 1400px) {
  #mainPageProducto {
    display: flex;
  }
  #mainPageProducto aside {
    margin-left: 5vh !important;
  }
}
@media (max-width: 768px) {
  #listadoProductos ul {
    list-style-type: none;
  }
  #listadoProductos ul li {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-left: 1vh !important;
    border-bottom: 1px solid black;
  }
  #listadoProductos ul li a img {
    width: 15vh !important;
  }
  #listadoProductos ul li #informacionProd a {
    text-decoration: none;
    color: black;
  }
  #listadoProductos ul li #informacionProd a h2 {
    font-family: lemon-login;
    font-size: 1rem;
  }
  #listadoProductos ul li #informacionProd h4 {
    font-family: lemon-login;
  }
  #listadoProductos ul li #informacionProd p {
    font-style: italic;
  }
}
@media (max-width: 576px) {
  #mainPageProducto aside {
    margin-left: 3vh;
    width: 15vh;
    font-size: 0.7rem;
  }
  #mainPageProducto aside h2 {
    font-family: lemon-login;
  }
}
@font-face {
  font-family: lemon-titulo;
  src: url(../../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
  font-family: lemon-login;
  src: url(../../fonts/LEMONMILK-LightItalic.otf);
}
#mainPagePcOfertas {
  display: flex;
  flex-wrap: wrap;
}
#mainPagePcOfertas aside {
  margin-left: 20vh;
}
#mainPagePcOfertas aside h2 {
  font-family: lemon-login;
}
#mainPagePcOfertas aside #boton {
  display: flex;
}
#mainPagePcOfertas aside #boton .boton {
  margin: 1vh 2vh 0vh 2vh;
}
#mainPagePcOfertas aside #boton .lbl-switch {
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: grey;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
#mainPagePcOfertas aside #boton #btn-switch:checked ~ .lbl-switch {
  background-color: #7cc5e7;
}
#mainPagePcOfertas aside #boton .lbl-switch:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  transition: 0.3s;
}
#mainPagePcOfertas aside #boton #btn-switch:checked ~ .lbl-switch:after {
  left: 28px;
}
#mainPagePcOfertas aside #boton #btn-switch {
  display: none;
}
#mainPagePcOfertas aside #categorias h3 {
  font-family: lemon-titulo;
}
#mainPagePcOfertas aside #categorias ul {
  list-style-type: none;
}
#mainPagePcOfertas aside #categorias ul li a {
  text-decoration: none;
  color: grey;
}
#mainPagePcOfertas #secPcOferta {
  font-family: lemon-login;
  display: flex;
}
#mainPagePcOfertas #secPcOferta img {
  width: 40vh;
  height: 40vh;
  margin-right: 5vh;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta {
  width: 80vh;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #tituloPcOferta {
  display: flex;
  align-items: center;
  justify-content: start;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #tituloPcOferta h3 {
  margin-right: 2vh;
  font-size: 1rem;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #tituloPcOferta p {
  background-color: #687c91;
  padding: 1.5vh;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #secAgregarAlCarrito {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 10vh;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #secAgregarAlCarrito img {
  width: 5vh;
  margin-left: 1vh;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta button {
  width: 25vh;
  height: 5vh;
  background-color: #7cc5e7;
  color: white;
  border: none;
  border-radius: 5px;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #enviosGratis {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 10vh;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #enviosGratis img {
  width: 5vh;
  margin-right: 2vh;
}
#mainPagePcOfertas #secPcOferta #infoPcOferta #btnCalcularEnvio {
  width: 15vh;
  background-color: #7cc5e7;
}
#mainPagePcOfertas #descripcionPcOferta {
  font-family: lemon-login;
  display: flex;
  flex-direction: column;
  margin-left: 35vh;
  align-items: start;
  border-top: 1px solid black;
}
#mainPagePcOfertas #descripcionPcOferta p {
  font-size: 0.8rem;
}
#mainPagePcOfertas #descripcionPcOferta ul li p {
  font-size: 1rem;
}

@media (max-width: 1700px) {
  #mainPagePcOfertas {
    display: flex;
    flex-wrap: wrap;
  }
  #mainPagePcOfertas aside {
    margin-left: 5vh;
  }
  #mainPagePcOfertas aside h2 {
    font-family: lemon-login;
  }
  #secPcOferta {
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 40vh;
    height: 40vh;
    margin-right: 5vh;
  }
  #secPcOferta #infoPcOferta {
    width: 70vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta h3 {
    margin-right: 2vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta p {
    background-color: #687c91;
    padding: 1.5vh;
    border-radius: 5px;
    font-weight: 600;
    color: white;
  }
  #secPcOferta #infoPcOferta #secAgregarAlCarrito {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
  }
  #secPcOferta #infoPcOferta #secAgregarAlCarrito img {
    width: 5vh;
    margin-left: 1vh;
  }
  #secPcOferta #infoPcOferta button {
    width: 25vh;
    height: 5vh;
    background-color: #7cc5e7;
    color: white;
    border: none;
    border-radius: 5px;
  }
  #secPcOferta #infoPcOferta #enviosGratis {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
  }
  #secPcOferta #infoPcOferta #enviosGratis img {
    width: 5vh;
    margin-right: 2vh;
  }
  #secPcOferta #infoPcOferta #btnCalcularEnvio {
    width: 15vh;
    background-color: #7cc5e7;
  }
}
@media (max-width: 1600px) {
  #secPcOferta {
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 30vh !important;
    height: 30vh !important;
    margin-right: 5vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta h3 {
    margin-right: 2vh;
  }
  #secPcOferta #infoPcOferta #secAgregarAlCarrito {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
  }
  #secPcOferta #infoPcOferta #secAgregarAlCarrito img {
    width: 5vh !important;
    margin-left: 1vh;
  }
  #secPcOferta #infoPcOferta button {
    width: 25vh;
    height: 5vh;
    background-color: #7cc5e7;
    color: white;
    border: none;
    border-radius: 5px;
  }
  #secPcOferta #infoPcOferta #enviosGratis {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
  }
  #secPcOferta #infoPcOferta #enviosGratis img {
    width: 5vh !important;
    margin-right: 2vh;
  }
  #secPcOferta #infoPcOferta #btnCalcularEnvio {
    width: 15vh;
    background-color: #7cc5e7;
    font-size: 0.6rem;
  }
}
@media (max-width: 1400px) {
  #secPcOferta {
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 20vh !important;
    height: 17vh !important;
    margin-right: 5vh;
  }
  #secPcOferta #infoPcOferta {
    width: 60vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  #secPcOferta {
    width: 70vh;
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 20vh !important;
    height: 17vh !important;
    margin-right: 5vh;
  }
  #secPcOferta #infoPcOferta {
    width: 30vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  #secPcOferta {
    width: 50vh;
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 20vh !important;
    height: 17vh !important;
    margin-right: 5vh;
  }
  #secPcOferta #infoPcOferta {
    width: 20vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  #mainPagePcOfertas aside {
    margin-left: 1vh;
  }
  #mainPagePcOfertas aside h2 {
    font-family: lemon-login;
  }
  #secPcOferta {
    width: 40vh;
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 20vh !important;
    height: 17vh !important;
  }
  #secPcOferta #infoPcOferta {
    width: 14vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    font-size: 0.7rem !important;
  }
  #secPcOferta #infoPcOferta h3 {
    font-size: 1rem !important;
  }
  #secPcOferta button {
    width: 15vh !important;
    height: 5vh;
    background-color: #7cc5e7;
    color: white;
    border: none;
    border-radius: 5px;
  }
  #secPcOferta #secAgregarAlCarrito button {
    font-size: 0.5rem;
  }
  #secPcOferta #secAgregarAlCarrito img {
    width: 0px;
    height: 0px !important;
  }
  #secPcOferta #enviosGratis {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    font-size: 0.7rem !important;
  }
  #secPcOferta #enviosGratis img {
    width: 5vh;
    margin-right: 2vh;
  }
  #secPcOferta #btnCalcularEnvio {
    width: 15vh;
    background-color: #7cc5e7;
  }
}
@media (max-width: 768px) {
  #mainPagePcOfertas aside {
    margin-left: 3vh;
    width: 20vh;
  }
  #mainPagePcOfertas aside h2 {
    font-family: lemon-login;
  }
  #secPcOferta {
    width: 40vh;
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 20vh !important;
    height: 17vh !important;
  }
  #secPcOferta #infoPcOferta {
    width: 14vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    font-size: 0.7rem !important;
  }
  #secPcOferta #infoPcOferta h3 {
    font-size: 1rem !important;
  }
  #secPcOferta button {
    width: 15vh !important;
    height: 5vh;
    background-color: #7cc5e7;
    color: white;
    border: none;
    border-radius: 5px;
  }
  #secPcOferta #secAgregarAlCarrito button {
    font-size: 0.5rem;
  }
  #secPcOferta #secAgregarAlCarrito img {
    width: 0px;
    height: 0px !important;
  }
  #secPcOferta #enviosGratis {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    font-size: 0.7rem !important;
  }
  #secPcOferta #enviosGratis img {
    width: 5vh;
    margin-right: 2vh;
  }
  #secPcOferta #btnCalcularEnvio {
    width: 15vh;
    background-color: #7cc5e7;
  }
}
@media (max-width: 600px) {
  #mainPagePcOfertas aside {
    margin-left: 3vh;
    width: 15vh;
    font-size: 0.7rem;
  }
  #mainPagePcOfertas aside h2 {
    font-family: lemon-login;
  }
  #secPcOferta {
    width: 40vh;
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 15vh !important;
    height: 15vh !important;
  }
  #secPcOferta #infoPcOferta {
    width: 10vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    font-size: 0.7rem !important;
  }
  #secPcOferta #infoPcOferta h3 {
    font-size: 1rem !important;
  }
  #secPcOferta button {
    width: 15vh !important;
    height: 5vh;
    background-color: #7cc5e7;
    color: white;
    border: none;
    border-radius: 5px;
  }
  #secPcOferta #secAgregarAlCarrito button {
    font-size: 0.5rem;
  }
  #secPcOferta #enviosGratis {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    font-size: 0.7rem !important;
  }
  #secPcOferta #enviosGratis img {
    width: 5vh;
    margin-right: 2vh;
  }
  #secPcOferta #btnCalcularEnvio {
    width: 15vh;
    background-color: #7cc5e7;
  }
  #descripcionPcOferta {
    font-family: lemon-login;
    display: flex;
    flex-direction: column;
    margin-left: 35vh;
    align-items: start;
    border-top: 1px solid black;
  }
  #descripcionPcOferta p {
    font-size: 0.5rem;
  }
  #descripcionPcOferta ul li p {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 490px) {
  #mainPagePcOfertas aside {
    margin-left: 3vh;
    width: 15vh;
    font-size: 0.7rem;
  }
  #mainPagePcOfertas aside h2 {
    font-family: lemon-login;
  }
  #secPcOferta {
    width: 40vh;
    font-family: lemon-login;
    display: flex;
  }
  #secPcOferta img {
    width: 10vh !important;
    height: 10vh !important;
  }
  #secPcOferta #infoPcOferta {
    width: 10vh;
  }
  #secPcOferta #infoPcOferta #tituloPcOferta {
    display: flex;
    font-size: 0.7rem !important;
  }
  #secPcOferta #infoPcOferta h3 {
    font-size: 1rem !important;
  }
  #secPcOferta button {
    width: 15vh !important;
    height: 5vh;
    background-color: #7cc5e7;
    color: white;
    border: none;
    border-radius: 5px;
  }
  #secPcOferta #secAgregarAlCarrito button {
    font-size: 0.5rem;
  }
  #secPcOferta #enviosGratis {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    font-size: 0.7rem !important;
  }
  #secPcOferta #enviosGratis img {
    width: 5vh;
    margin-right: 2vh;
  }
  #secPcOferta #btnCalcularEnvio {
    width: 15vh;
    background-color: #7cc5e7;
  }
}
#mainAyuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
#mainAyuda #comoCoprar {
  text-align: center;
}
#mainAyuda #comoCoprar img {
  width: 10vh;
  margin-top: 5vh;
}

/*# sourceMappingURL=style.css.map */
