@import "./modules/variables";
@import "./modules/body";
@import "./modules/header";
@import "./modules/nav";
@import "./modules/main";
@import "./modules/footer";
@import "./modules/page_productos/mainProductos";
@import "./modules/page_pcOfertas/mainPcOfertas";
@import "./modules/page_ayuda/ayuda";

@font-face {
    font-family: lemon-titulo;
    src: url(../fonts/LEMONMILK-RegularItalic.otf);
  }
  @font-face {
    font-family: lemon-login;
    src: url(../../fonts/LEMONMILK-LightItalic.otf);
  }