@import "./variables";

@font-face{
    font-family: lemon-titulo;
    src: url(../../fonts/LEMONMILK-RegularItalic.otf);
}
@font-face{
    font-family: lemon-login;
    src: url(../../fonts/LEMONMILK-LightItalic.otf);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, $colorPrincipal 30%, rgb(80, 71, 71) 100%);
    color: black;
    section{
        display: flex;
        img{
            width: 3vh;
            margin-right: 1vh;
        }
        p{
            color: grey;
        }
    }
    
}