@import "./mixins";
@import "./variables";


header{
    background-image: linear-gradient(to top, $colorPrincipal 0%, rgb(80, 71, 71) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    #logoRedes{
        img{
            
            width: 5vh;
            &:hover{
                width: 6vh;
            }
        }
    }
    h1{
        
        font-family: lemon-titulo;
        color: rgb(0, 0, 0);
    }
    #logIn{
        
        img{
            width: 25px;
            margin-left: 4vh;
        }
        a{  
            color: black;
            font-family: lemon-login;
            
            @include reseteo-links;
            
            &:hover{
                color: #ffffff;
            }
        }

    }
}